
EasyTableView.xcodeproj/project.xcworkspace/xcuserdata/*
.DS_Store

EasyTableView.xcodeproj/xcuserdata/aleksey.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

EasyTableView.xcodeproj/xcuserdata/aleksey.xcuserdatad/xcschemes/EasyTableView.xcscheme

EasyTableView.xcodeproj/xcuserdata/aleksey.xcuserdatad/xcschemes/xcschememanagement.plist

EasyTableView.xcodeproj/xcuserdata/gil.xcuserdatad/xcschemes/EasyTableView.xcscheme

EasyTableView.xcodeproj/xcuserdata/gil.xcuserdatad/xcschemes/xcschememanagement.plist
